<!DOCTYPE html>
{% include "/components/menu.html.twig" %}
<html>
    <head>
    <link rel="stylesheet" href="/Assets/carsell.css"> 
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        <main class="row justify-content-center">
            <h3 class="text-center">Conseils</h3>
               
              
        </main>
        {% block body %}{% endblock %}
    </body>
    

</html>
