@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 body{
    position: relative;
    font-family: "Montserrat", sans-serif;
}
footer {
    background-color:#001F3F;
    position: absolute;
    bottom: 0;
}