/**
**Charcoal gray #36454F
**Goldenrod #DAA520
**Forest Green  #228B22
**Navy Blue #001F3F

**/
body {
    font-family: "Montserrat", sans-serif;
}
header{
    background-image: url("/Assets/images/background.jpg");
    height: calc(93vh + 15px);
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.logo{
    height: 18vh;
    width: 11vw;
}
.SlogWrapp {
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color:white;
    text-shadow: 1px 1px 2px #001F3F;
}
.SlogBt{
    color:#daa520e0;
}
.navbar-toggler{
    color: #36454F;
}
nav {
    background-color: #001f3f7b;

}
.navbar ul  a{
    color:white;
    font-size: 1.5rem;
}
.navbar ul  a:hover{
    color:white;
    font-size: 1.5rem;
}
.ServicesWrappdiv {
    position: absolute;
    top: calc(76vh + 10px);
    left: 4vw;
}


.ServicesWrappdiv .ServiceDiv {
    height: 20em;
    width: 15em;
    background-color:#36454fbf;
    margin: 2em;
}

/*ServiceDivWrappImg*/
.ServiceDivWrappImg img {
    height: 15em;
    width: 15em;
    object-fit:cover;
}

.ServiceDivWrappCont {
    height: 5em;
    width: 15em;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*AboutUsWrapp*/
.aboutUsSect{
    height: 74vh;
    padding: 3em;
    transform: translateX(10%);
}
.aboutUsSect img{
    height: 40vh;
    width: 15vw;
    object-fit:cover;
    margin: 1em;
}
.aboutUsSect .aboutText {
    margin: 1em;
}
.aboutText {
    overflow:scroll;
}
/*buttons*/
.btn{
    background-color:#daa520b3;
}
/*h1*/
h1 {
    color:#DAA520;
}
.separator {
    border-bottom: 4px dotted rgba(0, 0, 0, 0.749);
    width: 7em;
    margin: 1em;
}
h2 {
    color:#001F3F;
}
h3 {
    font-weight: 800;
    color:#DAA520;
    text-shadow: 1px 1px 2px lightgray;
}
h5 {
    color:#001f3fa1;
}
.ImgCars{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.ArticlesWrapp {
    background-color:#36454f19;
    padding: 2em;
    width: auto;
    
}
.ServWrappImg {
    height: 45vh;
    width:auto;
    margin: 1em;
    position: relative;
}
.ServWrappSect {
    margin: 2em;
    
}
.ServWrappDiv {
    height: 6vh;
    width: 20vw;
    color:#001F3F;
    position: absolute;
    background-color:lightgray;
    box-shadow: 2px 2px 1px gray;
    margin-left: 30vw;
    margin-top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(1em - 5px);
}

.AccBtn{
    background-color: green;
    border-radius: 5%;
}

.TimesTitle  {
    color:#36454F;
    font-weight: 700;
}
.OpenTimesWrapp {
    color:#001f3fc8;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
    padding: 2em;
    height: 60vh;
    text-align: center;
}

.OpenTimesWrapp ul li {
    list-style: none;
}
.ImgWrappPrice {
    position: relative;
    background-color: red;
}

.ImgWrappPrice span {
    position: absolute;
    top: 1em;
    left: 2em;
    background-color:#daa520b6;
    padding-right:0.5em;
    padding-left: 0.5em;
    color:white;
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 1280px) {
 .SlogBt {
     display: none;
 }
}